<div class="status">
  <div class="status__box">
    <div class="status__box_top">
      <div class="status__box_top_name">Saito Yuki</div>
    </div>
    <div class="status__box_middle">
      <div class="status__box_middle_left">
        <h2 class="status__box_middle_left_title">- Status -</h2>
        <ul class="status__box_middle_left_profile">
          <li class="profile status__box_middle_left_profile_name wf-notosansjapanese">
            Name: 齋藤 祐希（さいとうゆうき）
          </li>
          <li class="profile status__box_middle_left_profile_age">
            Age: 24
          </li>
          <li class="profile status__box_middle_left_profile_condition wf-notosansjapanese">
            Condition: 転職中
          </li>
          <li class="profile status__box_middle_left_profile_dream wf-notosansjapanese">
            To archive: 「世代を超えて、それぞれの幸せを追求する社会を創造する」
          </li>
          <li class="profile status__box_middle_left_profile_career">
            Career Summary:
            <p class="status__box_middle_left_profile_career_detail wf-notosansjapanese">2020/04~2020/10 菊池一男農園 作物栽培のアルバイト</p>
            <p class="status__box_middle_left_profile_career_detail wf-notosansjapanese">2019/08~2020/03 バートリー４丁目創業/経営</p> 
          </li>
        </ul>
      </div>
      <div class="status__box_middle_right">
        <h2 class="status__box_middle_right_title">- It's me!! -</h2>
        <div class="status__box_middle_right_my-photo">
          <%= image_tag("my_photo", class:"status__box_middle_right_my-photo_size")%>
        </div>
        <div class="status__box_middle_right_icons">
          <div class="status__box_middle_right_icons_github">
            <%= link_to "", "https://github.com/yuki-b4", class:"fab fa-github fa-lg" %>
          </div>
          <div class="status__box_middle_right_icons_facebook">
            <%= link_to "", "https://www.facebook.com/", class:"fab fa-facebook fa-lg"%>
           </div>
          <div class="status__box_middle_right_icons_note">
              <%= link_to image_tag("note_logo_symbol.png", class:"note_icon"), "https://note.com/youcan08", class:"fab"%>
          </div>
          <div class="status__box_middle_right_icons_qiita">
              <%= link_to image_tag("qiita.png", class:"qiita_icon"), "https://note.com/youcan08", class:"fab"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>